{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>{:isset($info['id'])?'编辑':'新增'}后台菜单</h2>
</div>
<form action="{:url()}" method="post" class="form-horizontal">
    <div class="form-item">
        <label class="item-label">姓名<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="username" value="{$info.username|default=''}">
        </div>
    </div>
    <!--<div class="form-item">-->
    <!--<label class="item-label">模块<span class="check-tips">（所属模块）</span></label>-->
    <!--<div class="controls">-->
    <!--<input type="text" class="text input-large" name="module" value="{$info.module|default='admin'}">-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-item">
        <label class="item-label">电话<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="tel" value="{$info.tel|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">地址<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="address" value="{$info.address|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">标题（简述保修问题）<span class="check-tips"></span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">内容<span class="check-tips">（详细描述报修内容）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="content" value="{$info.content|default=''}">
        </div>
    </div>
    <div class="form-item">
        <input type="hidden" name="id" value="{$info.id|default=''}">
        <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="text/javascript">
    Think.setValue("pid", {$info.pid|default = 0});
    Think.setValue("hide", {$info.hide|default = 0});
    Think.setValue("is_dev", {$info.is_dev|default = 0});
    //导航高亮
    highlight_subnav('{:url('index')}');
</script>
{/block}